extends layout

block append content
    header
        h2.ui.header
            | About
block append content
    .container
            p FlickrMap is a Web Mashup Service developed for the CAB432 Assignment 1, Semester 2 2019
            p Google Maps, Google Places & Flickr APIs were used in the process
            p
                b Student Name:
                |&nbsp;Haritha Jayagopi
            p
                b Student Number:
                |&nbsp;n10111794
            p
                b Unit Code & Name:
                |&nbsp;CAB432 Cloud Computing
            p
                b Unit Coordinator:
                |&nbsp;Professor Jim Hogan